@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
.poppins {
  font-family: "Poppins", sans-serif;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.bgGrid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, black 1px, transparent 1px),
    linear-gradient(to bottom, black 1px, transparent 1px);
}

.title__image {
   @apply text-lg font-semibold w-full truncate text-center py-2;
}

.img__image {
   @apply mb-2 transition ease-in-out hover:-translate-y-2;
}

.link__image {
  @apply text-sm underline text-indigo-600 hover:text-indigo-400;
}

.div__image {
   @apply border-l-8 border-blue-900 hover:border-indigo-400 text-slate-800 bg-white rounded-lg overflow-hidden shadow-lg flex flex-col items-center justify-center m-4 p-4 min-w-[300px] max-w-[300px] transition ease-in-out hover:-translate-y-2;
}
